#bak-overlay {
  position: absolute;
  inset: 0;
  z-index: 10000;
  background: white;
  padding: 16px;
  line-height: normal;
}

#bak-overlay code {
  background-color: #eee;
  border-radius: 3px;
  font-family: monospace;
  padding: 0 3px;
}

#bak-overlay .error {
  color: red;
}

#bak-overlay form {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  max-width: 500px;
}