#ld-st {
  position: absolute;
  inset: 0;
  z-index: 10000;
  background: #fff;
  padding: 16px;
  line-height: normal;
}

#ld-st code {
  background: #eee;
  border-radius: 3px;
  font: monospace;
  padding: 0 3px;
}

#ld-st .error {
  color: red;
}

#ld-st form {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  max-width: 500px;
}